APP_URL="MY_APP_URL"
DATABASE_URL="postgresql://postgres:[password]@db.supabase.co:5432/postgres"
SUPABASE_URL="https://[project-id].supabase.co"
SUPABASE_KEY="[service-role-secret-key]"
SECRET_KEY="[arbitrary-jwt-session-key]"